body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -120px;
  width: 120px;
  height: 100%;
  background-color: #000000;
  color: #fff;
}

.toggle-handle {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 20px;
  height: 30px;
  background-color:#000000;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: -1;
}

.toggle-handle:before {
  content: '';
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.sidebar.active .toggle-handle:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.content {
  margin-left: 0;
  transition: margin-left 0.2s ease;
}

.banner {
  background-image: linear-gradient(rgba(68, 194, 233, 0.75), rgba(16, 44, 77, 0.75)), url(CV_Bild.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
#main_nav {
  position: fixed;
  z-index: 999;
}


.sidebar ul li {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: -40%;
  margin-top: 50px;

}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.main-content {
  padding: 20px;
}

section {
  margin-top: 20px; 
  padding: 12px;
  transition: padding 0.3s ease; 
}

section h2 {
  margin-top: 50px;
}

.sidebar.active {
  left: 0;
}

.toggle-handle {
  transition: left 0.3s ease;
}

.content-shift {
  margin-left: 120px;
}

.selected h2 {
  font-size: 3em;
  transform: translateX(5px);
  transition: font-size 0.3s ease, transform 0.3s ease;
}
.section p, .animated-section p { 
  font-size: 1em;
  transition: font-size 0.3s ease;
}
.selected p{
  font-size: 1.2em;
  transform: translateX(5px);
  transition: font-size 0.3s ease, transform 0.3s ease;
}
.section ul li, .animated-section ul li { 
  font-size: 1em;
  transition: font-size 0.3s ease;
}
.selected ul li{
  font-size: 1.2em;
  transform: translateX(5px);
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.banner {
    position:relative;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 0.5;
}

button{
  width: 200px;
  padding: 15px 0px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-size: large;
  border: 2px solid #ffffff;
  background:transparent;
  color: #ffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.special {
  background: #000000;
  width: 0px;
  height: 50%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: -1;
  transition: 0.2s;
}
button:hover .special{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  bottom: 0;
}
button:hover{
  border: none;
}
.bold{
  font-weight: bold;
}
.logo {
  height: 50px; 
  margin-right: 20px}
.centered-content h1{
  font-weight: 700;
}
